@charset "utf-8";
/*documento css */

/* criando a estrutura do quadrado apresentaod no html e elaborado pelo css a linguagem e muito intuitiva */
#quadrado{
    background-color: black;
    width: 90px;
    height: 90px;
    cursor: pointer;
    
}